@use '../../sass/media' as media;

.required {
  display: flex;
  align-items: center;
  margin-left: 1.8rem;
  transform: translateY(-5px);

  &__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__label {
    display: flex;
    align-items: center;
    color: #fff;
  }
  p {
    margin-left: 0.5rem;
    color: #fff;
  }
  &__star {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: azure;
    border-radius: 50%;
    font-size: 1.8rem;
    span {
      color: darkred;
      svg {
        width: 0.85rem;
        height: 0.85rem;
      }
    }

    @include media.mq(sm) {
      width: 1.2rem;
      height: 1.2rem;

      svg {
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }
  &__text {
    transform: translate(3rem, 4rem);
    @include media.mq(sm) {
      transform: translate(3rem, 0);
    }
    @include media.mq(xs) {
      transform: translate(1rem, 0);
    }
    margin-left: unset;
    margin-right: 0.5rem;

    &_ar {
      transform: translate(0, 4rem);
      @include media.mq(sm) {
        transform: translate(0, 0);
      }
      @include media.mq(xs) {
        transform: translate(0, 0);
      }
    }
  }

  &__ar {
    margin-right: 0.5rem !important;
    margin-left: unset !important;
    p {
      margin-right: 0.5rem;
      color: #fff;
    }
  }
}
