@use '@/src/sass/media' as media;
.crop {
  &__snapshot {
    position: relative;
    width: 100%;
    height: 30rem;
  }

  &__back {
    all: unset;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 0.5rem;
    z-index: 99;
    border-bottom-right-radius: 0.5rem;
    direction: ltr;
    span {
      margin-right: 0.2rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
  }

  &__adjustment {
    display: flex;
    align-items: center;
    padding: 3rem;
    direction: ltr;
    @include media.mq(xs) {
      justify-content: center;
      flex-wrap: wrap;
      padding: 3rem 0;
    }
    button:disabled {
      opacity: 0.5;
      color: #b5b5b5;
      pointer-events: none;
    }
    button:active {
      background-color: #b5b5b5;
      color: rgb(73, 164, 12);
    }
  }

  &__rotation {
    position: relative;
    button {
      all: unset;
      cursor: pointer;
      background-color: #e9ecef;
      width: 5rem;
      height: 5rem;
      text-align: center;
      border-radius: 0.2rem;
    }
    button:first-child {
      position: absolute;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
    }
    button:nth-child(3) {
      transform: translateY(1.5rem);
    }
    @include media.mq(sm) {
      width: 15rem;
    }
    @include media.mq(xs) {
      top: 3rem;
    }
  }

  &__zoom {
    display: flex;
    margin: 0 2rem;
    button {
      all: unset;
      cursor: pointer;
      background-color: #e9ecef;
      width: 5rem;
      height: 5rem;
      text-align: center;
      border-radius: 0.2rem;
    }
  }

  &__action,
  &__select {
    button {
      all: unset;
      cursor: pointer;
      background-color: #e9ecef;
      width: 7.2rem;
      height: 5rem;
      text-align: center;
      border-radius: 0.2rem;
      &:active {
        background-color: #029b15;
        color: #fff;
        font-weight: 500;
      }
    }
    span {
      margin-right: 0.5rem;
    }

    &_ar {
      direction: rtl;
      span {
        margin-right: unset;
        margin-left: 0.5rem;
      }
    }
  }

  &__select {
    button {
      background-color: #029b15;
      color: #fff;
      width: fit-content;
      padding: 0 0.5rem;
      margin-right: 1rem;
    }

    &_ar {
      direction: rtl;
      button {
        margin-right: unset;
        margin-left: 1rem;
      }
    }
  }

  &__result {
    button {
      all: unset;
      cursor: pointer;
      width: 13rem;
      height: 4rem;
      text-align: center;
      border-radius: 0.2rem;
      font-weight: 500;
      color: #fff;
      margin-right: 1rem;
    }
    button:first-child {
      background-color: #d60606;
    }
    button:last-child {
      background-color: #1fad00;
    }
    span {
      margin-right: 0.5rem;
    }

    &_ar {
      span {
        margin-left: 0.5rem;
        margin-right: unset;
      }
    }
  }

  &__output {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    span {
      font-weight: 500;
      margin-left: 0.5rem;
      transform: translateY(1px);
    }
    &_ar {
      span {
        margin-left: unset;
        margin-right: 0.5rem;
      }
    }
  }

  &__loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
