@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.doc {
    &__upload {
        display: flex;
        justify-content: center;
        padding:3rem 0;
        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_input {
            display: none;
        }
        label {
            width:30rem;
            height: 10rem;
            border-radius: 1rem;
            border:1px dashed var.$main-color;
            display: grid;
            display: -ms-grid;
            place-items: center;
            font-size: 1.4rem;
            font-weight: 300;
            color:var.$main-color;
            margin-bottom: 1rem;
            cursor: pointer;
            overflow: hidden;
            span {
                text-align: center;
            }
            span:last-child {
                margin-top: -2rem;
            }
            @include media.mq(sm){
                font-size: 1.1rem;
                width:10rem;
                height: 7rem;
            }
        }
    }

    &__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 3rem;
        height: 3rem;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px;
        padding: 2px;
        border-radius: 50%;
        display: grid;
        display: -ms-grid;
        place-items: center;
        cursor: pointer;
    }
}