@use '@/src/sass/variables' as var;
.filter {
  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    box-shadow: 2px 4px 6px rgb(0 0 0 / 30%);
    border-radius: 50%;
    display: grid;
    display: -ms-grid;
    place-items: center;
    color: var.$main-color;
    padding: 0.5rem;
    z-index: 9999;
    cursor: pointer;
  }
}
