@use '../../sass/variables' as var;
@use '../../sass/media' as media;


.support {
    min-height: calc(100vh - 10rem);
    text-align: -webkit-center;
    margin-bottom: 5rem;
    &__info {
        padding: 0;
        display: flex !important;
        width: 25rem !important;
        align-items: center;
        font-size: 1.1rem !important;
        figure {
            width: 5rem;
            clip-path: circle();
            margin-left: 2rem;
            margin-bottom: 0 !important;
            img {
                width:100%;
            }
        }
        & > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 1rem;
            p {
                padding-bottom: 0.3rem;
                border-bottom: 1px dashed transparent;
                cursor: pointer;
                &:hover {
                    border-bottom: 1px dashed #ccc;
                }
            }
        }

        &_ar {
            figure {
                margin-right: 2rem;
                margin-left: unset;
            }
            & > div {
                margin-left: unset;
                margin-right: 1rem;
            }
        }
    }

    &__summary {
        width:25rem !important;
        text-align: start !important;
        padding:1rem 1.2rem !important;
        h3 {
            font-size: 1.2rem;
            padding-bottom: 0.3rem;
            border-bottom: 1px dashed transparent;
            cursor: pointer;
            &:hover {
                border-bottom: 1px dashed #ccc;
            }
        }
        p {
            font-size: 1rem;
        }
    }

    &__action {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        span {
            cursor: pointer;
        }
        span:first-child {
            color:var.$main-color
        }
        span:nth-child(2) {
            color:var.$code-yellow-color 
        }
        span:last-child {
            color:var.$code-red-color
        }
        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &__code {
        position: relative;
        cursor: pointer;
        i {
            display: none !important;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            display: grid;
            display: -ms-grid;
            place-items: center;
            cursor: pointer;
            color:var.$white-color;
        }
        &:hover i {
            display: grid !important;
            display: -ms-grid !important;
        }
    }

    &__close {
        text-align: center;
        h2 {
            font-weight: 400;
            color:var.$code-red-color
        }
        p {
            font-weight: 300;
            padding: 0.5rem 0;
        }
    }
}