@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');

:root {
  // fonts
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Cairo', sans-serif;
  --third-font: 'Montserrat', sans-serif;

  // colors
  --main-color: #21597f;
  --second-color: #3fa5ba;
  --light-color: #6998ab;
  --full-light-color: #b1d0e0;
  --state-red-color: #fcd4db;
  --state-green-color: #c7ffce;
  --state-yellow-color: #fbfcd4;
  --code-red-color: #ec4a0d;
  --code-yellow-color: #fffb00;
  --code-green-color: #037a12;
  --white-color: #fff;
}

// fonts
$main-font: 'Roboto', sans-serif;
$second-font: 'Cairo', sans-serif;
$third-font: 'Montserrat', sans-serif;

// colors
$main-color: #21597f;
$second-color: #3fa5ba;
$light-color: #6998ab;
$full-light-color: #b1d0e0;
$state-red-color: #fcd4db;
$state-green-color: #c7ffce;
$state-yellow-color: #fbfcd4;
$code-red-color: #ec4a0d;
$code-yellow-color: #fffb00;
$code-green-color: #037a12;
$white-color: #fff;
