@use '../../sass/media' as media;

.sidebar {
    width:30%;
    @include media.mq(sm) {
        // width:100%;
        display: none;
    }
    header {
        background-color: #f0f2f5;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0.3rem;

        img {
            width:3.5rem;
            height: 3.5rem;
            border-radius: 50%;
        }

        button {
            all:unset;
            cursor: pointer;

            span {
                background-color: none;
                display: grid;
                display: -ms-grid;
                place-items: center;
                width:2.2rem;
                height: 2.2rem;
                border-radius: 50%;
            }

            svg {
                width:1.5rem;
                height: 1.5rem;
            }

            &:active span {
                background-color:#d0d0d0;
            }
        }
    }

    &__search {
        background-color: #ffffff;
        padding:0.5rem;
        border-bottom: 1px solid #ccc;
        & > div {
            position: relative;
        }

        input {
            all:unset;
            width:100%;
            background-color: #f0f2f5;
            padding:0.3rem 2rem;
            border-radius: 0.3rem;
            box-sizing: border-box;

            &::placeholder {
                font-size: 0.9rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }

        span {
            position: absolute;
            top:50%;
            left:0.5rem;
            transform: translateY(-50%);

            svg {
                width:0.8rem;
                height:0.8rem;
            }
        }
    }

    &__body {
        height:calc(100% - 7.8rem);
        overflow-y: auto;
        font-family: 'League Spartan', sans-serif;
        &_chat {
            display: flex;
            height: 5rem;
            padding:0.5rem;
            margin-bottom: 0.3rem;
            cursor: pointer;
            align-items: center;
            border-bottom: 1px solid #c7c7c7;

            &:hover {
                background-color: #f7f7f7;
            }

            &:active {
                background-color: #7070701c;
                box-shadow: unset;
            }

            figure {
                width:3.5rem;
                height: 3.5rem;
               clip-path: circle();
                overflow: hidden;
                margin-right: 1rem;
                @include media.mq(xl) {
                    width:3rem;
                    height: 3rem;
                }
            }

            img {
                width:100%;
                height: 100%;
            }

            & > div {
                @include media.mq(sm) {
                    width:100%;
                }
            }

            h3 {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span:first-child {
                    font-size: 1.1rem;
                    font-weight: 500;
                    &:last-child {
                        font-size: .8rem;
                        color:rgb(87, 87, 87);
                    }

                    @include media.mq(xl) {
                        font-size: 1rem;
                    }
                    @include media.mq(md) {
                        font-size: 0.8rem;
                    }
                }
                
                span:last-child {
                    font-size: .8rem;
                    color:rgb(87, 87, 87);
                    font-weight: 400;
                }
            }

            p {
                font-size: 0.8rem;
                font-weight: 300;
                @include media.mq(xl) {
                    font-size: 0.7rem;
                }
                @include media.mq(md) {
                    font-size: 0.6rem;
                }

                @include media.mq(sm) {
                    margin-top: 0.5rem;
                }
            }
            
        }
    }
}
 
