@use '@/src/sass/variables' as var;
@use '@/src/sass/media' as media;

.panel {
  display: block;
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 0px 1px 4px -1px rgb(0 0 0 / 50%);
  background-color: var.$white-color;
  margin-bottom: 0.5rem;
  overflow: hidden;
  @include media.mq(md) {
    display: block;
  }
  @include media.mq(sm) {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    direction: ltr;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5rem;
    &_id {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      span:first-child {
        cursor: pointer;
      }
      span:last-child {
        margin-right: 0.5rem;
        color: var.$main-color;
      }
    }

    &_state {
      span:first-child {
        margin-right: 1rem;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
      span:last-child {
        width: fit-content;
        width: -moz-fit-content;
        padding: 0.2rem 1rem;
        color: #333;
        border-radius: 0.5rem;
        cursor: pointer;
      }
    }
  }
  &__body {
    &_parties,
    &_data {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_parties {
      padding: 1.5rem 1rem;
      border-bottom: 1px dashed #ccc;
    }
    &_data {
      padding-right: 1rem;
      padding-left: 1rem;
    }
    &_value {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      direction: ltr;
      span {
        margin-right: 0.5rem;
      }
      h3 {
        font-weight: 900;
        transform: translateY(2px);
        margin-right: 1rem;
        margin-bottom: 0;
      }

      &_ar {
        & > div {
          direction: ltr;
        }
        img {
          margin-left: unset !important;
          margin-right: 0.5rem !important;
        }
      }
    }
    &_name {
      p {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
      }
      &_ar {
        p {
          margin-right: unset;
          margin-left: 0.5rem;
        }
      }
    }

    &_date {
      display: flex;
      align-items: center;
      p {
        margin-left: 0.5rem !important;
      }

      &_ar {
        p {
          margin-right: 0.5rem !important;
          margin-left: unset !important;
        }
      }
    }
  }

  &__note {
    border-top: 1px dashed #ccc;
    padding-top: 0.5rem;
    span {
      display: inline-block;
      color: #6c757d;
      position: relative;
      cursor: pointer;
      line-height: 1.6;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1.2rem;
        width: 100%;
        height: 2rem;
        background-color: #fff;
        opacity: 0.9;
        box-shadow: -1px -14px 20px 5px #f9fafb;
      }
    }
    &_show {
      span:after {
        display: none;
      }
    }
  }

  &__label {
    font-size: 1.2rem;
    color: var.$white-color;
    border-radius: 0.5rem;
    padding: 0 2px;
    margin-left: 0.5rem;
    &_ar {
      margin-left: unset;
      margin-right: 0.5rem;
    }
  }

  &__code {
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem;
    &_ar {
      margin-left: unset;
      margin-right: 1rem;
    }
  }

  &__decision {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    button {
      width: 12rem;
    }
  }

  &__due {
    border-bottom: 1px dashed #fd7e14;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid #fd7e14;
    }
  }
  &__close {
    color: darkred;
    cursor: pointer;
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
    &_confirm {
      text-align: center;
      h2 {
        font-weight: 400;
        color: var.$code-red-color;
      }
      p {
        font-weight: 300;
        padding: 0.5rem 0;
      }
    }
  }

  &__disabled {
    background-color: #f9fafb !important;
    color: #ccc !important;
    cursor: not-allowed !important;
  }

  &__dueDate {
    border-bottom: 1px dashed var.$main-color;
    cursor: pointer;
    &:hover {
      border-bottom: 1px solid var.$main-color;
    }
  }

  &__overflow {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
