@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.loginCode {
    position: relative;
    width:60%;
    color:var.$white-color;
    @include media.mq(lg){
        width:70%;
    }
    @include media.mq(md){
        width:85%;
    }
    @include media.mq(xs){
        width:100%;
    }
    p {
        color: var.$white-color;
        font-size: 1.8rem;
        text-align: center;
        letter-spacing: 1px;
        &:last-of-type {
            margin-bottom: 2rem;
            width: max-content;
            margin-left: -5rem;
        }
    }

    &__group {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        &_input {
            position: relative;
            width:100%;
            display: flex;
            span {
                display: inline-block;
                text-align: center;
                width: 20%;
                background-color: var.$white-color;
                color: var.$full-light-color;
                padding: 1.5rem 2rem 1.5rem 1rem;
                border-top-left-radius: 1.2rem;
                border-bottom-left-radius: 1.2rem;
                font-weight: 900;
            }
            input {
                border: 0;
                outline: none;
                width: 85%;
                padding: 1.5rem;
                border-top-right-radius: 1.2rem;
                border-bottom-right-radius: 1.2rem;
                &::placeholder {
                    color:var.$full-light-color;
                    font-size: 1.2rem;
                    font-style: italic;
                    font-weight: 400;
                    @include media.mq(xs){
                        font-size:1rem;
                    }
                }
            }

            &_ar {
                font-size: 0.9rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        button {
            all:unset;
            width: 10rem;
            height: 5.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 900;
            text-transform: uppercase;
            padding:2.5rem;
            border-radius: 1.2rem;
            margin-left: 1.6rem;
            background-color: var.$white-color;
            color:var.$full-light-color;
            letter-spacing: 1px;
            cursor: pointer;
        }

        &_ar {
            span {
                border-top-left-radius: unset;
                border-bottom-left-radius: unset;
                border-top-right-radius: 1.2rem;
                border-bottom-right-radius: 1.2rem;
            }
            input {
                border-top-right-radius: unset;
                border-bottom-right-radius: unset;
                border-top-left-radius: 1.2rem;
                border-bottom-left-radius: 1.2rem;
            }
            button {
                margin-left: unset;
                margin-right: 0.5rem;
            }
        }
    }

    &__remember {
        display: flex;
        align-items: center;
        transform: translateX(0.8rem);
        label {
            margin-left:0.5rem;
            color:var.$white-color;
        }

        &_panel {
            margin-top: 5rem;
            text-align: center;
            background-color: rgba(var.$full-light-color, 0.05);
            padding: 1rem;
            border-radius: 1rem;
            p {
                font-size: 1.4rem;
                font-weight: 400;
            }
            &_period {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                button {
                    all:unset;
                    padding:0.3rem 1rem;
                    border:1px dashed var.$white-color;
                    color:var.$white-color;
                    cursor: pointer;
                    &:hover {
                        border-style:solid;
                    }
                }

                &_select {
                    background: var.$white-color !important;
                    color: var.$main-color !important;
                    border: 1px solid #8bc34a !important;
                }
            }
        }

        &_ar {
            label {
                margin-left:unset;
                margin-right:0.5rem;
            }
        }
    }
}