@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.register {
  background-color: var.$main-color;
  text-align: center;
  padding: 5rem;
  min-height: 100vh;
  &__wrapper {
    &_ar {
      right: 50%;
      transform: translateX(50%);
    }
    position: relative;
    box-shadow: 1px 0px 3px 2px rgb(0 0 0 / 30%);
    border: 1px solid rgba(var.$full-light-color, 30%);
    width: 45vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.6rem;
    padding: 4rem;
    @include media.mq(xl) {
      width: 56vw;
    }
    @include media.mq(md) {
      width: 75vw;
    }

    @include media.mq(sm) {
      width: 96vw;
      padding: 3rem;
    }
    @include media.mq(xxs) {
      box-shadow: unset;
      border: unset;
      width: 100vw;
      padding: 2rem;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 2rem 3rem;
    margin-top: 2rem;

    @include media.mq(sm) {
      padding: 2rem;
    }

    @include media.mq(xs) {
      padding: 0;
    }
  }

  &__back {
    all: unset;
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: var.$white-color;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid var.$white-color;
    }
    span {
      margin-right: 1rem;
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
