@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.panel {
  display: block;
  flex-grow: 1;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 0px 1px 4px -1px rgb(0 0 0 / 50%);
  background-color: var.$white-color;
  margin-bottom: 0.5rem;
  overflow: hidden;
  @include media.mq(sm) {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
    direction: ltr;
    &_id {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      span:first-child {
        cursor: pointer;
      }
      span:last-child {
        margin-right: 0.5rem;
        color: var.$white-color;
      }
    }

    &_state {
      display: flex;
      align-items: center;
      span {
        cursor: pointer;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
      span:first-child {
        color: var.$main-color;
        margin-right: 1.5rem;
      }
      span:last-child {
        color: darkred;
      }
    }

    &_activate {
      width: 50%;
      background-color: #ffbfbf;
      color: darkred;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      border-radius: 0.5rem;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    &_photo {
      width: 10rem;
      height: 10rem;
      overflow: hidden;
      border-radius: 0.5rem;
      margin-right: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
      &_ar {
        margin-right: unset;
        margin-left: 1.5rem;
      }
    }

    &_content {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 0.2rem;
      text-align: left;
      width: 85%;
      h3 {
        font-size: 1.6rem;
        width: 100%;
      }
      p {
        margin-right: 0.5rem;
        font-size: 1.2rem;
      }
      &_ar {
        text-align: right;
        p {
          margin-right: unset;
          margin-left: 0.5rem;
        }
      }
    }

    &_date {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 1rem;
      p {
        margin-right: 1rem !important;
        span:first-child {
          margin-right: 0.5rem;
        }
        em {
          color: #6c757d;
        }
      }

      p:last-child {
        em {
          color: rgb(33, 117, 165);
          border-bottom: 1px dashed;
        }
      }

      &_ar {
        p {
          margin-right: 0.5rem !important;
          margin-left: unset !important;
        }
      }
    }
  }

  &__confirmDelete {
    text-align: center;
    padding: 0.2rem;
    font-weight: 300;
  }

  &__close {
    color: darkred;
    cursor: pointer;
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
    &_confirm {
      text-align: center;
      h2 {
        font-weight: 400;
        color: var.$code-red-color;
      }
      p {
        font-weight: 300;
        padding: 0.5rem 0;
      }
    }
  }

  &__overflow {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
