@use '../../sass/variables' as var;
@use '../../sass/media' as media;

.snapshot {
    color:var.$white-color;
    text-align: -webkit-center;
    button {
        all:unset;
        position: relative;
        display: -ms-grid;
        display: grid;
        place-items: center;
        background-color: var.$white-color;
        color:var.$main-color;
        padding:1rem 3rem;
        margin-top:2.5rem;
        border-radius: 1.6rem;
        cursor: pointer;
        overflow: hidden;
        p {
            position: relative;
            z-index: 999;
        }
        span {
            position: absolute;
            top:0;
            left:0;
            width:0;
            height: 100%;
            background-color: var.$full-light-color;
            opacity: 0.3;
            transition: all 0.3s ease;
            z-index:99
        }
        &:hover span{
            width:100%;
        }
    }

    &__photo {
        border: 1px solid;
        border-radius: 1rem;
        margin-top: 2rem;
        padding: 1rem;
        img {
            width:95%;
            @include media.mq(xxs) {
                width:25rem;
            }
        }

        video {
            width:95%;
        }

        button {
            all: unset;
            display: block;
            position: relative;
            background-color: var.$white-color;
            color: var.$main-color;
            padding: 0.1rem 1rem;
            margin: 1.6rem 0;
            border-radius: 1.6rem;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: 400;
            &:disabled {
                background-color: #ececec;
                color:#c0c1c2;
                cursor:not-allowed;
            }
        }
    }

    &__skip {
        display: inline-block;
        padding: 0.5rem 0;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}