@use '../../sass/variables.scss' as var;
@use '../../sass/media' as media;

.contact {
  padding: 10rem;
  z-index: 9;

  @include media.mq(md) {
    padding: 1rem 2rem;
  }

  @include media.mq(xs) {
    padding: 2rem 1rem;
  }

  &__container {
    position: relative;
    width: 90%;
    margin: auto;
    background-image: url('../../../public/images/contact.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 10px 5px rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
    z-index: 1;
    @include media.mq(md) {
      width: 70%;
      flex-direction: column-reverse;
    }
    @include media.mq(sm) {
      width: 100%;
      padding: 2rem 0;
    }
  }

  &__form {
    width: 85%;
    background-color: rgba(255, 255, 255, 0.806);
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    padding: 1rem;

    @include media.mq(xl) {
      width: 100%;
    }
    @include media.mq(md) {
      clip-path: none;
      background-color: transparent;
    }

    &_ar {
      clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
      @include media.mq(md) {
        clip-path: none;
      }
    }
  }

  form {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-items: center;

    @include media.mq(md) {
      width: 100%;
    }
    input,
    textarea {
      all: unset;
      box-sizing: border-box;
      width: 100%;
      padding: 1rem 2rem;
      border-radius: 2rem;
      margin-bottom: 1rem;
      background-color: var.$white-color;
      color: #333;
      box-shadow: 0px -1px 8px -3px rgb(0 0 0 / 20%);
      &::placeholder {
        color: var.$main-color;
        font-size: 1.4rem;
        font-weight: 300;
        font-style: italic;
      }
    }
    button {
      all: unset;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var.$white-color;
      padding: 1rem 0.5rem;
      color: var.$main-color;
      border-radius: 2.5rem;
      width: 15rem;
      height: 3.8rem;
      cursor: pointer;
      box-shadow: 0px -1px 8px -3px rgb(0 0 0 / 20%);
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.3);
      }
      &:active {
        transform: scale(0.95);
        box-shadow: unset;
      }
    }
  }

  &__content {
    padding-right: 10rem;
    @include media.mq(md) {
      padding-right: unset;
      padding: 1rem;
      margin-bottom: 2rem;
    }
    h3,
    p {
      text-align: center;
      @include media.mq(md) {
        text-align: unset;
      }
    }
    h3 {
      font-size: 3.5rem;
      font-weight: 300;
      margin-bottom: 1rem;
      background-color: rgb(255 255 255 / 50%);
      border-radius: 0.5rem;
      padding: 0 0.5rem;

      @include media.mq(lg) {
        font-size: 3rem;
      }

      @include media.mq(md) {
        font-weight: 300;
      }

      @include media.mq(xs) {
        font-size: 2.5rem;
      }

      span {
        background: -webkit-linear-gradient(#adb5bd, #1a374d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      width: 100%;
      color: var.$main-color;
      font-weight: 300;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 0 0.5rem;
      border-radius: 0.5rem;
      letter-spacing: 1px;
      line-height: 1.8;
      @include media.mq(md) {
        font-weight: 400;
      }
    }

    &_ar {
      padding-right: unset;
      padding-left: 5rem;
      @include media.mq(md) {
        padding-left: unset;
      }
    }
  }
}
