@use '../../sass/media' as media;

.document {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  @include media.mq(sm) {
    flex-direction: column;
  }
  & div {
    @include media.mq(sm) {
      margin: 0.5rem 0;
    }
  }
  hr {
    display: none;
    background-color: #fff;
    width: 100%;
    @include media.mq(sm) {
      display: block;
    }
  }

  &__or {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    transform: translate(10px, 15px);
    margin: 0 2rem;

    @include media.mq(sm) {
      transform: translateY(20px);
      font-size: 1.5rem;
    }
  }

  &__camera {
    display: flex;
    align-items: center;
    width: 35rem;
    margin: 0 2rem;
    color: #fff;
    justify-content: center;
    border: 1px dashed;
    padding: 1.3rem;
    border-radius: 1.6rem;
    transform: translateY(15px);
    cursor: pointer;
    span {
      margin-right: 1rem;
    }

    @include media.mq(sm) {
      width: 25rem;
      padding: 1.45rem;
      margin: 0;
      transform: translateY(18px);

      p {
        font-size: 1.3rem;
        transform: translateY(2px);
      }
    }

    &_ar {
      margin: unset;
      margin-right: -2rem;
      transform: translateY(13px);
      @include media.mq(sm) {
        margin-right: 0;
        transform: translateY(15px);
      }

      span {
        margin-right: unset;
        margin-left: 1rem;
      }
    }
  }

  &:first-child {
    @include media.mq(sm) {
      flex-direction: row !important;
    }
  }

  &__thumbnails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
    & > div {
      width: 8rem;
      height: 5rem;
    }
    span {
      font-size: 1.2rem;
      color: #fff;
      width: 10rem;
      margin-left: -1rem;
      display: inline-block;
    }
    figure {
      width: 100%;
      height: 100%;
      border: 1px solid #fff;
      cursor: pointer;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_ar {
      span {
        width: 11rem;
        margin-left: unset;
        margin-right: -1rem;
      }
    }
  }
}
