.message {
    max-width: 25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom:1rem;
    font-size: 0.9rem;
    font-family: 'League Spartan', sans-serif;
    cursor: pointer;
    p:last-child {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        justify-content: flex-end;
        span {
            margin-left: 0.3rem;
            svg {
                width:0.8rem;
                height: 0.8rem;
            }
        }
    }
}
